{% extends "base.html" %}

{% block name %}new_post{% endblock %}

{% block main %}
<h1>new_post</h1>

<form action="/new/post/save" method="POST">
  <div class="form-group">
    <label for="post-name">Post name</label>
    <input type="text" class="form-control" id="post-name" placeholder="Post name" name="post_name">
  </div>
  <div class="form-group">
    <label for="post-text">Post body</label>
    <textarea class="form-control" id="post-text" placeholder="Post body" rows="10" name="post_text"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}